[submodule ".gopath/src/github.com/go-gl/gl"]
	path = .gopath/src/github.com/go-gl/gl
	url = https://github.com/go-gl/gl.git
[submodule ".gopath/src/github.com/go-gl/glfw"]
	path = .gopath/src/github.com/go-gl/glfw
	url = https://github.com/go-gl/glfw.git
[submodule ".gopath/src/code.google.com/p/freetype-go"]
	path = .gopath/src/code.google.com/p/freetype-go
	url = https://github.com/polydawn-ports/freetype-go.git
[submodule ".gopath/src/github.com/google/gxui"]
	path = .gopath/src/github.com/google/gxui
	url = https://github.com/google/gxui.git
[submodule ".gopath/src/github.com/agl/xmpp"]
	path = .gopath/src/github.com/agl/xmpp
	url = https://github.com/agl/xmpp.git
[submodule ".gopath/src/github.com/inconshreveable/log15"]
	path = .gopath/src/github.com/inconshreveable/log15
	url = https://github.com/inconshreveable/log15.git
[submodule ".gopath/src/github.com/mattn/go-colorable"]
	path = .gopath/src/github.com/mattn/go-colorable
	url = https://github.com/mattn/go-colorable.git
